@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 40px;
}

p {
    line-height: 1.5;
}

/* NAVIGATION */

.nav-wrapper {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

h1 {
    font-weight: 900;
    font-size: 30px;
    padding: 5px;
    margin-right: 30px;
}

.logo__image {
    height: 50px;
    width: 50px;
    margin-right: 15px;
}

ul {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    align-items: center;
}

.contact-us {
    margin-right: 50px;
}

a {
    text-decoration: none;
    position: relative;
}

li {
    list-style-type: none;
    margin: 0 30px;
    font-weight: 500;
    font-size: 17.5px;
}

i:hover {
    opacity: 0.7;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: -3px;
    right: 0;
    transition: all 400ms ease;
}

.link__hover-effect--white:after {
    background-color: white;
}

.link__hover-effect--black:after {
    background-color:#5d3eff;
}

.link__hover-effect:hover:after {
    width: 100%;
    left: 0;
}

.member-wrapper {
    display: flex;
    align-items: center;
    margin-left: 50px;
}


.sign-up__button {
    padding: 15px 40px;
    background-color: #6415FF;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 700;
    transition: 400ms ease;
    cursor: pointer;
}

.sign-up__button:hover {
    background-color: #440bb5;
}

/* ABOUT */

#about {
    padding: 120px 0;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.about-wrapper {
    width: 40%;
}

.about__heading {
    font-weight: 700;
    font-size: 45px; 
    width: 100%;
}

.about__info {
    font-weight: 300;
    font-size: 20px;
    width: 100%;
    margin: 40px 0;
}

.purple {
    color:#6415FF
}

.input--wrapper {
    display: flex;
    align-items: center;
}

input {
    border: 2px solid rgb(226, 232, 240);
    padding: 30px 30px;
    border-radius: 60px;
    width: 100%;
    cursor: text;
    caret-color: black;
    font-size: 22px;
}

input::placeholder {
    color: rgb(200, 216, 237);
    font-size: 20px;
    font-weight: 500;
}

.get-started__link {
    display: flex;
    align-items: center;
    margin-left: -182px;
}

.get-started__button {
    padding: 20px 30px;
    background-color: #6415FF;
    color: white;
    border: none;
    border-radius: 60px;
    font-weight: 600;
    font-size: 20px;
    transition: all 400ms ease;
    cursor: pointer;
}

.get-started__button:hover {
    background-color: black;
}

.trusted__customers {
    margin-top: 100px;
}

.trusted__title {
    font-weight: 800;
    font-size: 16px;
    opacity: .45;
}

.trusted__image {
    opacity: .6;
    width: 100%;
    margin-top: 20px;
}

.about__image--wrapper {
    width: 60%;
    display: flex;
    align-items: end;
}

.about__image {
    width: 100%;
}

/* FEATURES */

#features {
    padding: 120px 0;
}

.features__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.features__title {
    color: #6415FF;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0 0 20px 0;
}

.features__heading {
    font-size: 60px;
}

.features__info {
    color: #7C8BA1;
    font-weight: 500;
    font-size: 22.5px;
    margin-top: 20px;
    width: 60%;
    line-height: 2;
    text-align: center;
}

/* CARDS */

.cards {
    display: flex;
    margin: 60px;
    flex-wrap: wrap; 
}

.card {
    width: calc(100% / 3);
    display: flex;
    margin-bottom: 64px;
}

.card__image {
    height: 82px;
    width: 82px;
    border: 1px solid rgb(226, 232, 240);
    padding: 25px;
    border-radius: 50%;
}

.card__info--wrapper {
    margin-left: 20px;
}

.card__info--title {
    font-size: 30px;
    width: 50%;
}

.card__info--content {
    margin-top: 20px;
    color: #7C8BA1;
    font-weight: 500;
    line-height: 2;
    width: 80%;
}

/* QUALITY */

#quality {
    display: flex;
    align-items: center;
    padding: 120px 0;
}

.quality__title {
    color: #6415FF;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0 0 20px 0;
}

.quality__info--wrapper {
    width: 50%;
}

.quality__heading {
    font-size: 60px;
    font-weight: 900;
    margin: 20px 0;
    width: 90%;
}

.purple__weight {
    font-weight: 900;
}

.quality__info--content {
    margin-top: 20px;
    color: #7C8BA1;
    font-weight: 500;
    line-height: 1.625;
    width: 90%;
}

.learn__more--button {
    margin-top: 40px;
    background-color: #6415FF;
    color: white;
    border: none;
    padding: 15px 40px;
    border-radius: 40px;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease;
}

.learn__more--button:hover {
    background-color: #440bb5;
}

.quality__image--wrapper {
   width: 50%;
   display: flex;
   align-items: center;
}

.hero__screen-shot {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgb(226, 232, 240)
}

.dot__decorator {
    fill: rgb(100, 21, 255);
    height: 100px;
    width: 100px;
    z-index: -1;
    margin-left: -50px;
    margin-right: -60px;
    margin-top: 60%;
}

/* STEPS */

#steps {
    padding: 120px 0;
    display: flex;
    justify-content: space-between;
}

.steps__image--wrapper {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero__screen-shot--two {
    width: 100%;
}

.dot__decorator--two {
    fill: #CBD5E0;
    height: 100px;
    width: 100px;
    z-index: -1;
    margin-top: -48px;
}

.steps__wrapper {
    width: 43%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.steps__title--wrapper {
    text-align: left;
}

.steps__title {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;
}

.steps__header {
    font-size: 60px;
    font-weight: 900;
    margin-top: 20px;
}

.steps__info--wrapper {
    display: flex;
    margin-top: 40px;
}

.step__number {
    font-size: 45px;
    color: #CBD5E0;
    font-weight: 550;
}

.steps__info {
    margin-left: 30px;
}

.steps__info--heading {
    font-size: 25px;
    font-weight: 500;
}

.steps__info--instructions {
    margin-top: 15px;
    line-height: 2;
    color: #718096;
    font-size: 17.5px;
}
